<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-article.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <title>Cia Senior Cuidar Blog</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script> src="C:\Users\guilh\Desktop\HTML & CSS\CIA SENIOR\script-pagination.js"</script>
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
    </head>
<body>
    
    <!--Top-Bar-->
    <section id="topbar" style='background-color:#d3d3d3;'>
        <div class="top-bar">
          <div class="contact-info">
            <a href="mailto:contato@ciaseniorcuidar.com.br">contato@ciaseniorcuidar.com.br</a>
            <a href="https://api.whatsapp.com/send?phone=5583991589245&text=Ol%C3%A1,%20gostaria%20de%20mais%20detalhes." target="blank">83 9 91589245</a></i>
          </div>
          <div class="social-links">
            <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
            <a href="https://www.instagram.com/ciaseniorcuidar/"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
          </div>
        </div>
      </section>
    <!--END-Top-Bar-->

    <!--Header-->
    <header id="header">
        <div class="nav-bar">
            <img id="logo" src="logo.png" alt="idoso"   class="logo_img img-fluid">
        
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="{% url 'home_page' %}">Início</a></li>
                    <li><a class="nav-link scrollto" href="#about">Sobre</a></li>
                    <li><a class="nav-link scrollto" href="#featured-services">Serviços</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'blog' %}">Blog</a></li>
                    <li><a class="getstarted scrollto" href="#contact">Solicite seu Orçamento</a></li>
                </ul>
            </nav><!-- .navbar -->

        </div>
    </header>
    <!--END-Header-->

    <section id="all-content">
        <!--Slide(maybe)-->
        <section id="slide">
            <img src="Fundo.png" alt="">
        </section>
        <!--END-Slide(maybe)-->

        <!--Search Bar-->
        <section id="search">
            <div class="search-bar center">
                <form>
                    <input type="search" id="pesquisa" name="pesquisa" placeholder="Pesquise temas aqui">
                    <span><ion-icon id="search-icon" name="search-outline"></ion-icon></span>
                </form>
            </div>
        </section>
        <!--END-Search Bar-->

        <!--Article area-->
        <section id="content" class="container center">
            <div class="Article-1">
                <div id="article" class="article1">
                    <img src="https://www.churchintorrance.org/wp-content/uploads/2015/04/happy_senior_couple.1920.1080.jpg" alt="">
                </div>
                <div class="article1-text">
                    <h2>5 DICAS PARA FAZER UM IDOSO MAIS FELIZ</h2>
                    
                    <p class="data">20/10/2023</p>
                    
                    <p>As mudanças físicas, hormonais e motoras que acontecem nos 
                        idosos com o passar do tempo podem influenciar nos sentimentos deles. 
                        Mas, ao chegar na terceira idade, é desejável que essas pessoas 
                        deixem as preocupações de lado, mantenham-se plenos e busquem o 
                        equilíbrio físico e mental. Por isso, é importante que familiares e 
                        cuidadores estejam sempre atentos e dispostos a fazerem as pessoas dessa faixa etária felizes.<br> 

                        <br>De acordo com estudos científicos, a endorfina, hormônio da felicidade, torna nossos corações mais saudáveis, a vida mais longa e o sistema imunológico mais forte. E isso não é privilégio apenas dos mais novos, idosos também sentem esses benefícios. Saiba 5 dicas para fazer um idoso mais feliz:
                        
                        <br>    
                        
                        <br>1.  Ajude-os a ter pensamentos positivos;
                        
                        <br>2.  Respeite a rotina e crie hábitos junto a eles;
                        
                        <br>3. Tire um tempo para conversar com seu ente querido; 
                        
                        <br>4. Inclua o idoso na rotina da família, fazendo passeios e jantares;
                        
                        <br>5. Incentive atividades para aprender ou aprimorar habilidades. 
                        
                        <br>    
                        
                        <br>A felicidade é a chave dos pensamentos bons, da qualidade de vida e bem-estar!</p>
                    <div class="write-by">Escrito por
                        <div>   
                            <a href=""></a>
                            <button class="icon-buttom-write"><a href="#"><ion-icon id="icons-write" name="logo-instagram"></ion-icon></a></button>
                            <button class="icon-buttom-write"><a href="#"><ion-icon id="icons-write" name="logo-facebook"></ion-icon></a></button>
                            <button class="icon-buttom-write"><a href="#"><ion-icon id="icons-write" name="logo-linkedin"></ion-icon></a></button>
                        </div> 
                    </div>
                </div>
            </div>
            <!--END-Article Area-->

            <!--Most Read-->
            <div class="MostRead hover">
                <div class="most-read">
                    <img src="https://th.bing.com/th/id/R.e70a7a088bbc95ed21a7e49a912cef96?rik=YCj5MG1KGonL2g&pid=ImgRaw&r=0" alt="">
                </div>
                <div class="most-read-text"><p>Título</p><p>Texto</p></div>
            </div>
            <!--END-Most Read-->

            <!--Recents Posts-->
            <div class="recents-posts">
                <div class="recents-posts-text"><p>Postagens Recentes</p></div>
                <div class="recente-post1"><img src="https://www.churchintorrance.org/wp-content/uploads/2015/04/happy_senior_couple.1920.1080.jpg" alt="">
                    <div>Texto aqui</div>
                </div>
                <div class="recente-post1"><img src="https://www.churchintorrance.org/wp-content/uploads/2015/04/happy_senior_couple.1920.1080.jpg" alt="">
                    <div>Texto aqui</div>
                </div>
                <div class="recente-post1"><img src="https://www.churchintorrance.org/wp-content/uploads/2015/04/happy_senior_couple.1920.1080.jpg" alt="">
                    <div>Texto aqui</div>
                </div>
                <div class="recente-post1"><img src="https://www.churchintorrance.org/wp-content/uploads/2015/04/happy_senior_couple.1920.1080.jpg" alt="">
                    <div>Texto aqui</div>
                </div>
            </div>
            <!--END-Recents Posts-->

            <!--Follow-us-->
            <div class="follow-us">
                <div class="follow-us-text"><p>Siga-nos nas redes</p>
                    <div class="follow-us-icons">
                        <button class="icon-buttom"><a href=""><ion-icon id="icon-follow" name="logo-facebook"></ion-icon></a></button>
                        <button class="icon-buttom"><a href=""><ion-icon id="icon-follow" name="logo-whatsapp"></ion-icon></a></button>
                        <button class="icon-buttom"><a href=""><ion-icon id="icon-follow" name="logo-twitter"></ion-icon></a></button>
                        <button class="icon-buttom"><a href=""><ion-icon id="icon-follow" name="logo-linkedin"></ion-icon></a></button>
                        <button class="icon-buttom"><a href=""><ion-icon id="icon-follow" name="logo-instagram"></ion-icon></a></button>
                    </div>
                </div>
            </div>
            <!--END-Follow-us-->

            <!--Tags-->
            <div class="tags">
                <div class="tags-text"><p>Tags</p></div>
            </div>
            <!--END-Tags-->

        </section>
        <section>
            <div id="pagination" class="pagination">
                <a href="#" id="prev-button"><ion-icon name="chevron-back-outline"></ion-icon></a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#" id="next-button"><ion-icon name="chevron-forward-outline"></ion-icon></a>
            </div>
        </section>
        <footer id="footer">Todos os direitos reservados</footer>
    </section>    
</body>
</html>

